#block-devengine-core-devengine-core-project-menu {
  @include grid-span(6, 7);
  margin-top: 20px;
  .block__title {
    display: none;
  }
  ul {
    float: right;
    li {
      float: left;
      list-style: none;
      a {
        border-top: 5px solid $light-black;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        padding: 2px 20px;
        &:hover {
          border-top: 5px solid $light-blue;
        }
      }
    }
  }
}
