#block-quicktabs-environments {
  .block__title {
    display: none;
  }
  #quicktabs-environments {
    #quicktabs-container-environments {
      background: $white;
      padding: 20px;
      border: 1px solid $gray;
    }
    ul.quicktabs-tabs {
      margin: 0;
      padding: 0;
      li {
        border: 1px solid $gray;
        border-bottom: 1px solid $white;
        background: $gray;
        padding: 13px 15px;
        font-size: 160%;
        &.active {
          background: $white;
        }
        a {
          color: $black;
          line-height: 50px;
          text-decoration: none;
        }
      }
    }
  }
  .pull-button {
    border: 1px solid $gray;
    background: $gray;
    font-size: 120%;
    text-decoration: none;
    color: $white;
    padding: 10px;
    margin: 15px 0;
    width: 300px;
    display: block;
    text-align: center;
  }
  .heads, .remotes, .gb_details, .gb_diff, .gb_tag {
    display: none;
  }
}
