#block-system-user-menu {
  @include grid-span(6, 1);
  margin: 20px 0;
  .block__title {
    display: none;
  }
  ul {
    padding: 0;
    li {
      float: left;
      list-style: none;
      a {
        border-top: 5px solid $light-black;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        padding: 2px 20px;
        &:hover {
          border-top: 5px solid $light-blue;
        }
      }
    }
  }
}
