.l-constrained {
  width: 75%;
  margin: 0 auto;
  @include pie-clearfix;
}

/* Header */
header.l-header {
  background-color: $black;
  .l-region--header {
    @extend .l-constrained;
  }
}

.l-main {
  @extend .l-constrained;
  .l-content {
  }
}
